// HEADER PAGE PRINCIPAL  ==========

.title {
    padding: 1.5rem;
    text-align: center;
    font-family: $font-secondary;
}

// HEADER PAGES MENUS ==========

.header-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9375rem;
    font-family: $font-secondary;
}

.header-arrow a {
    text-decoration: none;
    color: black;
}
