// FONTS ==========

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;

// COLORS ==========

$clr-primary: hsl(267, 66%, 60%);
$clr-secondary: hsl(317, 100%, 74%);
$clr-tertiary: hsl(165, 56%, 74%);

$box-shadow: 0.3px 0.2px 0.4px rgba(50, 50, 93, 0.25), 1.3px 1.1px 1.8px -1.5px rgba(50, 50, 93, 0.25), 5.6px 4.4px 7.5px -3px rgba(50, 50, 93, 0.25);
