
.card__like{
 position: relative;
}

// HOME PAGE

.heart-solid{
    position: absolute;
    left : 0px;
    bottom: 0px;
    transform: scale(0);
    transition: 0.4s ease-in-out;
    @include gradient-icon-heart;
}

.card__like:hover .heart-solid{
    transform: scale(1);
}

.heart-regular{
    transition: 0.3s ease-in;

}

.card__like:hover .heart-regular {
    @include gradient-icon-heart;
}


// MENUS PAGES

.heart-solid-menu {
    position: absolute;
    left: 0px;
    bottom: 4px;
    transform: scale(0);
    transition: 0.4s ease-in-out;
    @include gradient-icon-heart;
}

.card__like:hover .heart-solid-menu {
    transform: scale(1);
}