.location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 1.5rem;
    font-size: 0.9rem;
    font-family: $font-primary;
    background-color: #f3f3f3;
    box-shadow: inset 0px 8px 6px -6px rgba(0, 0, 0, 0.24);
}

.location__icon{
font-size: 1.4rem;  
}

.hero{
    padding: 2rem 1.5rem;
    gap: 30px;
    font-family: $font-primary;
    text-align: center;
    background-color: #fafafa;
}

.hero__txt{
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    font-weight: 200;
}

.selection{
    font-family: $font-primary; 
    box-shadow: inset 0px 8px 6px -6px rgba(0, 0, 0, 0.120);

}

.options{
    @include flex-column;
    padding: 3rem 1rem 3rem 1.5rem;
    gap: 20px;
    counter-reset: stepList;
}

.options__step{
    position: relative;
    margin: auto;
    display: flex;
    width: 100%;
    padding: 1.6rem 1.2rem;
    gap: 1.25rem;
    border-radius: 25px;
    background-color: #f6f6f6;
    box-shadow: $box-shadow;

    &::before{
        position: absolute;
        left: -0.6875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.4rem;
        height: 1.4rem;
        color: #fafafa;
        background-color: #9356DC;
        border-radius: 100px;
        counter-increment: stepList 1;
        content: counter(stepList) " ";
    }

    &:hover{
        background-color: #9256dc2a;
    }

    &:hover .options__step-icon{
        color: #9356DC;
        opacity: 1;
    }
}

.options__step-icon{
    opacity: 0.5;
}

.restaurants__list{
    @include flex-column;
    padding: 3rem 1rem;
    gap: 30px;
    background-color: #f6f6f6;
}

.restaurants__cards{
    @include flex-column;
    gap: 30px;
}

.card{
    position: relative;
    margin: auto;
    width: 100%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: black;
    box-shadow: $box-shadow;
    transition: transform 0.2s;

    &:hover{
        transform: scale(1.04);
    }
}

.card__img{
    height: 10.5rem;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card__tag{
    position: absolute;
    right: .9375rem;
    top: .9375rem;
    padding: 0.6rem;
    background-color: $clr-tertiary;
}

.card__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem .925rem;
}

.card__info{
    @include flex-column;
    gap: 0.4rem;
}

@media only screen and (min-width: 768px){
    .restaurants__cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 1024px){
    .selection{
        display: flex;
        gap: 4.5rem;
        padding: 2rem;
    }

    .options__step {
        margin: 0;
    }

    .restaurants__list {
        flex: 1;
        background-color: white;
    }
}